# Tuples

### Creation of tuple

In [2]:
t1 = ()
type(t1)

tuple

In [4]:
t1 = (2,)
t2 = ('hello',)
print(type(t1))
print(type(t2))

<class 'tuple'>
<class 'tuple'>

In [6]:
t3 = (1,2,3,4) #hetro
t4 = (1,True, [1,2,3], 'hello')

print(t3)
print(t4)

(1, 2, 3, 4)
(1, True, [1, 2, 3], 'hello')

In [9]:
t5 = (1,2,3,('hello', True)) #2d

print(t5)

(1, 2, 3, ('hello', True))

In [10]:
t6 = tuple('hello')
print(t6)

('h', 'e', 'l', 'l', 'o')

In [31]:
a = (1,2,3,4)
a = a + (5,)

print(a)

(1, 2, 3, 4, 5)

### Accessing Items : Indexing and Slicing

In [ ]:
t3 = (1,2,3,4)

print(t3[0])
print(t3[-1])

print(t3[1:3])
print(t3[-1:-4:-1])
print(t3[::-1])

1
4
(2, 3)
(4, 3, 2)
(4, 3, 2, 1)

##### Tuples are immutable so no editing items, no adding items, no deleting items can be done

### Operations on tuples

In [17]:
#concatenation and multiplication

t1 = (1,2,3,4)
t2 = (5,6,7,8)

print(t1+t2)

print(t1*4)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [ ]:
#Membership

t1 = ('hello', 'shubham', 1, True)

print(1 in t1)
print(False in t1)

True
False

In [24]:
#Iteration

t1 = ('hello', 'shubham', 1, True)

for i in t1:
    print(i, end=' ')

hello shubham 1 True

### Functions in tuples

In [25]:
#len/sum/min/max/sorted

t1 = (1,2,3,4)

print(len(t1))
print(sum(t1))
print(min(t1))
print(max(t1))
print(sorted(t1))
print(sorted(t1, reverse=True))

4
10
1
4
[1, 2, 3, 4]
[4, 3, 2, 1]

### Tuples are faster than List

In [27]:
import time

L = list(range(10000000))
T = tuple(range(10000000))

start = time.time()

for i in L:
    i*10
print("List Time = ", time.time() - start)

start = time.time()

for i in T:
    i*10
print('Tuple Time = ', time.time() - start)

List Time =  1.659621238708496
Tuple Time =  1.285205364227295

### Tuples take less memory space than List

In [30]:
import sys

L = list(range(10000000))
T = tuple(range(10000000))

print('List size = ', sys.getsizeof(L))
print('Tuple size = ', sys.getsizeof(T))

List size =  80000056
Tuple size =  80000040

### Tuple Unpacking

In [32]:
a,b,c = (1,2,3)

print(a,b,c)

1 2 3

In [34]:
#Swapping Numbers:

a=1
b=2

a,b = b,a

print(a,b)

2 1

In [35]:
a,b,*others = (1,2,3,4,5,6)

print(a,b)
print(others)

1 2
[3, 4, 5, 6]

In [39]:
#zipping tupples:

a = (1,2,3,4)
b = (5,6,7,8)

print(zip(a,b))

print(tuple(zip(a,b)))
print(list(zip(a,b)))

<zip object at 0x000002398D6EBF80>
((1, 5), (2, 6), (3, 7), (4, 8))
[(1, 5), (2, 6), (3, 7), (4, 8)]

# Sets

#### Creation of set

In [40]:
#empty

s = {}
print(s)
print(type(s))

{}
<class 'dict'>

In [41]:
#correct way of creating empty set:

s = set()
print(s)
print(type(s))

set()
<class 'set'>

In [ ]:
#1D and 2D

s1 = {1,2,3,4}
print(s1)


#2D sets are not posssible

{1, 2, 3, 4}

In [56]:
#hetro and homo

s = {True, 0, 1.4, 'hello'}
print(s)

s1 = {True, 'hello', 1, 1.4}
print(s1)

s2 = {1, 'hello', (True, 1)}
print(s2)


s3 = {1,2,3,1,1,1,1,}
print(s3)

s3 = {1,2,2,2,3,3,3,3,3,3,}
print(s3)

{0, True, 1.4, 'hello'}
{True, 1.4, 'hello'}
{1, (True, 1), 'hello'}
{1, 2, 3}
{1, 2, 3}

In [57]:
s1 = {1,2,3}
s2 = {3,2,1}

print(s1 == s2)

True

In [58]:
s = {1,2,3,4,5}
s.discard(5)
print(s)

{1, 2, 3, 4}

In [59]:
s = {1,2,3,4}
s.discard(5)
print(s)

{1, 2, 3, 4}

In [60]:
s = {1,2,3,4,5}
s.remove(5)
print(s)

{1, 2, 3, 4}

In [61]:
s = {1,2,3,4}
s.remove(5)
print(s)

KeyError: 5

In [71]:
s = {'hello',1,4}
s.pop()

1

In [73]:
s = {1,2,3,4,5}
s.clear()
print(s)

set()

### Operations on sets

In [75]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

print('Union = ', s1 | s2)
print("intersection : ", s1 & s2)
print('Difference : ', s1-s2)
print('Symmetric Difference : ', s1^s2)

print(1 in s1)
print(10 in s2)


for i in s1:
    print(i, end=' ')

Union =  {1, 2, 3, 4, 5, 6, 7, 8}
intersection :  {4, 5}
Difference :  {1, 2, 3}
Symmetric Difference :  {1, 2, 3, 6, 7, 8}
True
False
1 2 3 4 5

### Functions on sets

In [77]:
s1 = {1,2,3,4}

print('Length  = ', len(s1))
print('Max = ', max(s1))
print('Min = ', min(s1))
print('Sum = ',sum(s1))

print("Sorted = ", sorted(s1))
print('Reverse Sorted = ', sorted(s1, reverse=True))

Length  =  4
Max =  4
Min =  1
Sum =  10
Sorted =  [1, 2, 3, 4]
Reverse Sorted =  [4, 3, 2, 1]

In [78]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [79]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

print(s1.difference(s2))

s1.difference_update(s2)

print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}
{4, 5, 6, 7, 8}

In [80]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}

s1.isdisjoint(s2)

False

## Frozenset

In [82]:
#creation:

fs = frozenset([1,2,3])
print(fs)

fs1 = frozenset((1,2,3,4,5))
print(fs1)

frozenset({1, 2, 3})
frozenset({1, 2, 3, 4, 5})

In [83]:
fs1 = frozenset([1,2,3,4])
fs2 = frozenset([3,4,5,6])

print(fs1 | fs2)

frozenset({1, 2, 3, 4, 5, 6})

In [84]:
fs = frozenset([1,2,3,4])

fs.discard(4)

AttributeError: 'frozenset' object has no attribute 'discard'

In [86]:
# 2d frozensets:

fs = frozenset([1,2,frozenset[3,4]])
fs

frozenset({1, 2, frozenset[3, 4]})

In [87]:
# Set comprehensions:

{i for i in range(1,11)}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [89]:
{i**2 for i in range(1,11)}

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

In [93]:
{i*i for i in range(1,11) if i>5}

{36, 49, 64, 81, 100}

# Dictionary

In [94]:
d = {}
print(d)
print(type(d))

{}
<class 'dict'>

In [95]:
d = {'name' : 'Shubham', 'gender': 'male', 'age' : 18}
print(d)

{'name': 'Shubham', 'gender': 'male', 'age': 18}

In [97]:
d = {'name' : 'Shubham', 'gender': 'male', 'age' : 18}
d['age']

18

In [98]:
d = {'name':'shubham','age':18}
d['gender'] = 'male'

print(d)

{'name': 'shubham', 'age': 18, 'gender': 'male'}