# Tuples

### Creation of tuple

In [2]:
t1 = ()
type(t1)

tuple

In [4]:
t1 = (2,)
t2 = ('hello',)
print(type(t1))
print(type(t2))

<class 'tuple'>
<class 'tuple'>

In [6]:
t3 = (1,2,3,4) #hetro
t4 = (1,True, [1,2,3], 'hello')

print(t3)
print(t4)

(1, 2, 3, 4)
(1, True, [1, 2, 3], 'hello')

In [9]:
t5 = (1,2,3,('hello', True)) #2d

print(t5)

(1, 2, 3, ('hello', True))

In [10]:
t6 = tuple('hello')
print(t6)

('h', 'e', 'l', 'l', 'o')

### Accessing Items : Indexing and Slicing

In [ ]:
t3 = (1,2,3,4)

print(t3[0])
print(t3[-1])

print(t3[1:3])
print(t3[-1:-4:-1])
print(t3[::-1])

1
4
(2, 3)
(4, 3, 2)
(4, 3, 2, 1)

##### Tuples are immutable so no editing items, no adding items, no deleting items can be done

### Operations on tuples

In [17]:
#concatenation and multiplication

t1 = (1,2,3,4)
t2 = (5,6,7,8)

print(t1+t2)

print(t1*4)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [ ]:
#Membership

t1 = ('hello', 'shubham', 1, True)

print(1 in t1)
print(False in t1)

True
False

In [24]:
#Iteration

t1 = ('hello', 'shubham', 1, True)

for i in t1:
    print(i, end=' ')

hello shubham 1 True

### Functions in tuples

In [25]:
#len/sum/min/max/sorted

t1 = (1,2,3,4)

print(len(t1))
print(sum(t1))
print(min(t1))
print(max(t1))
print(sorted(t1))
print(sorted(t1, reverse=True))

4
10
1
4
[1, 2, 3, 4]
[4, 3, 2, 1]