# Functions

## Creating a function with docstring

In [1]:
def is_even(num):
    """
    This function returns if given number is odd or even
    input - any valid ineteger
    output - odd/even
    created on - 14/01/2026
    created by - Shubham
    """


    if num%2==0:
        return 'even'
    else:
        return 'odd'

In [7]:
#Calling the function:

for i in range(1,11):
    x = is_even(i)
    print(i,':',x)

1 : odd
2 : even
3 : odd
4 : even
5 : odd
6 : even
7 : odd
8 : even
9 : odd
10 : even

In [6]:
# Correct way:

def is_even(num):
    """
    DOCSTRING
    """


    if type(num) == int:
        if num%2==0:
            return 'even'
        else:
            return 'odd'
        
    else:
        return 'Pagal hai kya?'

In [8]:
# calling the functions :

is_even('hello')

'Pagal hai kya?'

## Types of Arguments

In [9]:
# Default argument

def power(a=1, b=1):
    return a**b

print(power(2,3))
print(power(2))
print(power())

8
2
1

In [10]:
# Positional argument

power(2,3)    #a=2, b=3

8

In [12]:
#keyword argument:

power(b=2, a=3)

9

## *args and *kwargs

In [13]:
#*args:

def multiply(*args):

    prod = 1

    for i in args:
        prod *= i

    return prod

multiply(1,2,3,4,4,5,5)

2400

In [15]:
#*kwargs

def display(**kwargs):

    for (key,value) in kwargs.items():
        print(key,':',value)


display(India = 'Delhi', Pakistan = 'Islamabad', Srilanka = 'Colombo', Nepal = 'Kathmandu')

India : Delhi
Pakistan : Islamabad
Srilanka : Colombo
Nepal : Kathmandu

## Without return statement

In [2]:
def is_even(num):
    if num%2==0:
        print('even')
    else:
        print('odd')

print(is_even(7))

odd
None

## Variable Scope

In [3]:
def g(y):
    print(x)
    print(x+1)

x=5
g(x)
print(x)

5
6
5

In [4]:
def f(y):
    x=1
    x+=1
    print(x)

x=5
f(x)
print(x)

2
5

In [5]:
def h(y):
    x+=1

x=5
h(x)
print(x)

UnboundLocalError: cannot access local variable 'x' where it is not associated with a value

In [6]:
def h(y):
    global x
    x+=1

x=5
h(x)
print(x)

6

## Nested Function

In [11]:
def f():
    def g():
        print('Inside function g')
    g()
    print('Inside function f')

f()

Inside function g
Inside function f

In [13]:
def g(x):
    def h():
        x='abc'
    x=x+1
    print('in g(x) : x = ',x)

    h()
    return x

x=3
z=g(x)

print(z)

in g(x) : x =  4
4

In [1]:
def g(x):
    def h(x):
        x=x+1
        print('in h(x) : x = ',x)

    x=x+1
    print('in g(x) : x = ',x)
    h(x)
    return x

x=3
z=g(x)
print('In main program scope : x = ',x)
print('In main program scope : z = ',z)

in g(x) : x =  4
in h(x) : x =  5
In main program scope : x =  3
In main program scope : z =  4

In [2]:
def g(x):
    def h(x):
        x = x+1
        print('In h(x) : x = ',x)

    x=x+1
    print('In g(x) : x = ',x)
    h(x)
    return x

x=3
z=g(x)
print('In main program scope : x = ',x)
print('In main program scope : z = ',z)

In g(x) : x =  4
In h(x) : x =  5
In main program scope : x =  3
In main program scope : z =  4

## Functions are 1st class citizen in python: they can act as data type too

In [4]:
a = 5
print(type(a))
print(id(a))

def func(x):
    return x

print(type(func))
print(id(func))

<class 'int'>
140736310912040
<class 'function'>
2135222978336

In [5]:
def square(y):
    return y**2

x = square

x(2)

4

In [6]:
del x
square(2)

4

In [9]:
# Functions is IMMUTABLE 

set1 = {square(2)}
print(set1)

{4}

## Returning a function

In [10]:
def f():
    def x(a,b):
        return a+b
    
    return x

val = f()(3,4)
print(val)

7

## Function as an argument

In [11]:
def func_a():
    print('Inside func_a')

def func_b(z):
    print('Inside func_b')
    return z()

print(func_b(func_a))

Inside func_b
Inside func_a
None

## Lambda Function

In [12]:
# lambda a,b:a+b

In [13]:
a = lambda a:a**2

print(a(2))
print(a(3))

4
9

In [14]:
sum = lambda x,y : x+y
print(sum(4,3))

7

In [15]:
# Check if a string has 'a'

check = lambda str: 'a' in str

check('Shubham')

True

In [16]:
# odd or even

check = lambda num : 'even' if num%2==0 else 'odd'

print(check(6))
print(check(9))
print(check(1))

even
odd
odd

## Higher Order Function

In [17]:
def square(x):
    return x**2


def transform(f,L):
    output = []

    for i in L:
        output.append(f(i))

    print(output)


L = [1,2,3,4,5]
transform(square, L)

[1, 4, 9, 16, 25]

In [18]:
# using lambda:

def transform(f1, f2, L):
    output1=[]
    output2=[]

    for i in L:
        output1.append(f1(i))
        output2.append(f2(i))

    print(output1)
    print(output2)


L = [1,2,3,4,5]
transform(lambda x:x**2, lambda x:x**3, L)

[1, 4, 9, 16, 25]
[1, 8, 27, 64, 125]

### Map()

In [19]:
list(map(lambda x:x**2, [1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [20]:
list(map(lambda x:x**3, [1,2,3,4,5]))

[1, 8, 27, 64, 125]

In [21]:
list(map(lambda x : 'even' if x%2==0 else 'odd', [1,2,3,4,5,6,7,8,9,10]))

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [22]:
users = [{'name': 'shubham', 'age': 19, 'gender': 'male'},
         {'name': 'rahul', 'age': 18, 'gender': 'male'},
         {'name': 'angel', 'age': 20, 'gender': 'female'}
        ]

list(map(lambda users: users['name'], users ))

['shubham', 'rahul', 'angel']