# Question

In [6]:
#Sequence Sum: 1/1! + 2/2! + 3/3! +.....+N/N!


n = int(input("Enter the Nth Number : "))
fact, sum = 1,0

for i in range(1, n+1):
    fact = fact*i
    seq = i/fact
    sum = sum + seq
 
print(sum)

2.0

# Nested Loops

In [7]:
# Example : Unique Pairs

for i in range(1,5):
    for j in range(1,5):
        print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [8]:
for i in range(1,5):
    for j in 'ABCDE':
        print(i,j)

1 A
1 B
1 C
1 D
1 E
2 A
2 B
2 C
2 D
2 E
3 A
3 B
3 C
3 D
3 E
4 A
4 B
4 C
4 D
4 E

# Patterns

#### Pattern 1

In [2]:
rows = int(input('Enter the number of rows : '))

for i in range(1,rows+1):
    for j in range(1,i+1):
        print('*', end='')
    print()

*
**
***
****
*****

#### Pattern 2

In [3]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j, end = '')
    print()

1
12
123
1234
12345

#### Pattern 3

In [4]:
for i in range(1, 5):
    for j in range(1,i+1):
        print(j, end='')
    for k in range (i-1, 0, -1):
        print(k, end='')
    
    print()

1
121
12321
1234321

# Loop Control Statement

#### Break

In [5]:
for i in range(1,10):
    if i==5:
        break
    print(i)

1
2
3
4

### Question

In [ ]:
# Prime numbers between a range:
import math
for i in range(10,100):
    for j in range(2,int(math.sqrt(i))+1):
        if i%j == 0:
            break
    else:
        print(i)

11
13
15
17
19
23
25
29
31
35
37
41
43
47
49
53
59
61
67
71
73
79
83
89
97

#### Continue

In [12]:
for i in range(1,10):
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9

# Strings

In [15]:
# Creation of string:

s = 'hello'
s = "hello"
s = '''hello'''
s = """hello"""

s = str(8)

line = "It's raining outside!"

print(s)
print(line)

8
It's raining outside!

In [17]:
#Accessing Substrings from a string

#INDEXING

s = 'hello'

print(s[0])
print(s[1])
print(s[2])

h
e
l

In [19]:
#Negative Indexing

s = 'hello world'
print(s[-1])
print(s[-2])
print(s[-3])
print(s[-4])

d
l
r
o

In [23]:
#Slicing

s = 'hello world'

print(s[0:5])
print(s[1:5])
print(s[3:5])


print(s[2:])
print(s[:3])

hello
ello
lo
llo world
hel

In [26]:
#Step size:

s = 'hello world'

print(s[0:8:2])
print(s[2:8:1])
print(s[6:0:-1])

hlow
llo wo
w olle

In [27]:
# Reverse a string:

s = 'hello world'
print(s[::-1])

dlrow olleh

In [37]:
s = 'hello world'
print(s[-5:])
print(s[-1:-6:-1])
print(s[-1:-5:-2])

world
dlrow
dr

#### Edit and Delete a string

In [35]:
#STRINGS ARE IMMUTABLE

#Delete a string:

s = 'hello world'
del s
print(s)

NameError: name 's' is not defined

### Operations on string

In [39]:
#Arithmetic Operator

print('Delhi' + ' ' + 'Mumbai')
print('*' * 50)

Delhi Mumbai
**************************************************