In [4]:
ctc = int(input('Enter your annual CTC : '))

if ctc < 500000:
    salary = ctc*0.82

elif ctc < 1000000:
    salary = ctc*0.72

elif ctc < 2000000:
    salary = ctc*0.62

else:
    salary = ctc*0.52

monthlySal = salary/12

print(monthlySal)

62000.0

In [5]:
first = int(input('Enter the first angle : '))
second = int(input('Enter the second angle : '))
third = int(input('Enter the third angle : '))

if (first+second+third) <= 180 and first>0 and second>0 and third>0:
    print('Forms a triangle')

else:
    print('Does not form a triangle!')

Does not form a triangle!

In [6]:
cost_price = int(input('Enter the cost price : '))
selling_price = int(input('Enter the selling price : '))

if cost_price > selling_price:
    print('Loss!')

elif selling_price > cost_price:
    print('Profit!')

else:
    print('No loss no profit!')

Loss!

In [8]:
menu = input("""
Hi, Select an option:
1. cms to ft
2. km to miles
3. USD to INR
4. exit
""")

if menu == '1':
    cm = float('Enter the cm value : ')
    print('In ft : ', cm*0.032)

elif menu == '2':
    km = float(input('Enter the km value : '))
    print('In miles : ', km*0.62)

elif menu == '3':
    usd = float(input('Enter the USD value : '))
    print('In INR : ', 80*usd)

else:
    exit()

In INR :  8000.0

In [9]:
num1,num2=0,1

for i in range(10):
    print(num1, end=' ')

    next = num1+num2
    num1=num2
    num2=next

0 1 1 2 3 5 8 13 21 34

In [13]:
num = int(input('Enter the number : '))
fact = 1

for i in range(1,num+1):
    fact = fact*i

print(fact)

120

In [15]:
num = int(input('Enter the number : '))
rev = 0

while num>0:
    rem = num%10
    rev = rev*10 + rem
    num = num//10

print(rev)

54321

In [16]:
n = int(input('Enter the number : '))
sum = 0
i=1

while i<n+1:
    if i%5 == 0:
        i+=1
        continue

    sum += i

    if sum>300:
        sum = sum - i
        break

    i+=1

print(sum)

276

In [19]:
sum=0
count=0
while True:
    num = int(input('Enter the number : '))
    if num==0:
        break

    sum += num
    count+=1

print('Sum = ',sum)
print('Average = ',sum/count)

Sum =  15
Average =  3.0

In [23]:
L=[]
for i in range(2000,3200+1):
    if i%7==0 and i%5!=0:
        L.append(str(i))

",".join(L)

'2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199'

In [ ]:
L = []
for i in range(1000,3001):
  flag = True

  curr = i

  while curr > 0:
    last = curr%10
    if last % 2 != 0:
      flag = False
      break
    curr = curr//10

  if flag == True:
    L.append(str(i))

print(",".join(L))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888