# PANDAS

### Importing Pandas

In [1]:
import numpy as np
import pandas as pd

## series from lists

In [3]:
country = ['India', 'Nepal', 'USA', "China"]
pd.Series(country)

0    India
1    Nepal
2      USA
3    China
dtype: object

In [4]:
#integer series:

runs = [13,54,100,76,0,1]
pd.Series(runs)

0     13
1     54
2    100
3     76
4      0
5      1
dtype: int64

In [6]:
#custom index:
marks = [67,57,89,100]
subjects = ['maths', 'english', 'science', 'hindi']

pd.Series(marks, index=subjects)

maths       67
english     57
science     89
hindi      100
dtype: int64

In [7]:
#setting name to seires:

pd.Series(marks, index=subjects, name='Shubham ke marks')

maths       67
english     57
science     89
hindi      100
Name: Shubham ke marks, dtype: int64

## creating series from dictionary

In [9]:
marks = {
    'maths' : 67,
    'english' : 57,
    'science' : 89,
    'hindi' : 100
}

marks_series = pd.Series(marks, name = 'Shubham ke marks')
print(marks_series)

maths       67
english     57
science     89
hindi      100
Name: Shubham ke marks, dtype: int64

## Series attributes

In [12]:
#size

marks_series.size

4

In [14]:
#name

marks_series.name

'Shubham ke marks'

In [15]:
#dtype

marks_series.dtype

dtype('int64')

In [18]:
#is_unique

print(marks_series.is_unique)

print(pd.Series([1,1,1,2,3,4,2,4,5,5]).is_unique)

True
False

In [19]:
#index

marks_series.index

Index(['maths', 'english', 'science', 'hindi'], dtype='object')

In [24]:
runs = [1,4,2,100]
runs_series = pd.Series(run)

runs_series.index

RangeIndex(start=0, stop=4, step=1)

In [25]:
#values

marks_series.values

array([ 67,  57,  89, 100])

In [26]:
runs_series.values

array([  1,   4,   2, 100])

## Creating series using read_csv